/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

.active{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-link li{
    margin: 0 30px;
}

/* HEADER */
header{
    width: 100vw;
    height: 100vh;
    background-image: url('./pics/background\ homepage.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: rgb(255, 86, 44);
    border-radius: 30px;
    color: white;
}

.menu-button{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* ABOUT */
section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: black;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .row{
    margin-top: 50px;
}
h4{
    font-size: 4vmin;
    color: black;
    margin: 20px auto;
}
p{
    color: black;
    padding: 0px 40px;
}

/* SERVICE */
.service{
    width: 100%;
    height: 100vh;
    background-image: url(./pics/image\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.service-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service-content h1{
    font-size: 7vmin;
}
.service-content .line{
    margin-bottom: 50px;
}
.service-content p{
    color: rgb(255, 255, 255);
}
.service-content .ctn{
    margin-top: 40px;
}
.content-col{
    width: 40%;
}

/* CONTACT */
.image-col{
    width: 60%;
}
.contact .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.contact .row .col i{
    padding: 0;
    margin: 10px auto;
    height: 25px;
    text-align: center;
}
.content-col h1{
    font-size: 7vmin;
    color: black;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}

/* FOOTER */
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: grey;
    text-align: center;
}
.footer p{
    color: white;
    margin: 20px auto;
    font-weight: bold;
}

/* MOBILE DEVICE */
@media only screen and (max-width:850px){
    .menu-button{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(119, 103, 134);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-link li{
        margin: 30px auto;
    }

    /* ABOUT */
    .row {
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    /* SERVICE */
    .service-content{
        width: 100%;
    }

    /* CONTACT */
    .contact .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }

    /* FOOTER */
    .footer{
        padding: 10px;
    }
}

/* ANIMATION */
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
ctn:hover{
    background: white;
    color: brown;
    box-shadow: 2px 2px 5px black;
}
li:hover{
    color: rgb(0, 0, 0);
}